body {
    background: grey;
    font-family:Arial, Helvetica, sans-serif;
    
}
.assignments{
    display: flex;
    flex-wrap:wrap;


}
.assignment {
    width: 22%;
    padding:10px;
    margin:10px;
    padding: 10px 20px;
    background:lightgray;
    border-radius: 9px;
}

.assignment img {
    width:200px;
    margin:12px;
    border: 3px solid black;
    display: block;
    margin: auto;
}

.assignment img:hover {
    border:3px solid crimson;
}

h1{
    color: black;
    text-align:center;
}
h2{
    text-align: center;
}
a {
    text-decoration: none;
    color:black
}

a:hover {
    color:crimson;
}