/* Main Navigation */

#main-nav ul
{
    padding-left: 0;
}

#main-nav li
{
    text-align: center;
    list-style-type: none;
    background: rgb(2, 211, 30);
    padding: 4px;
    border-bottom: 1px solid gray;
}

#main-nav a
{
    text-decoration: none;
    color: white;
}

#main-nav a:hover
{
    color: purple;
}