body {
  font-family: Arial, sans-serif;
  margin: 20px;
}
body {
  background: #252b31;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container {
  position: relative;
  width: 50%;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
}
body {
  background: #252b31;
}

#content {
  background: #0753a513;
  width: 95%;
  margin: auto;
  padding: 0px 5px;
  border-radius: 5px;
}

#main-header,
#main-footer {
  background: #0753a513;
  padding: 4px;
}

#main-header {
  border-radius: 4px 4px 0px;
}

#main-footer {
  border-radius: 0 0 4px 4px;
}

.col-one {
  background: #0753a5cb;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 4px;
}

.nestcol1 {
  background: #001e3dcb;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 4px;
}
/* Typography */
h1,
h2 {
  text-align: center;
}
#main-nav-items {
  font-size: 1.2em;
}

.hidden {
  display: none;
}

.hide {
  visibility: hidden;
}
/* Navigation */
#main-nav ul {
  padding-left: 0px;
  list-style-type: none;
}

#main-nav li {
  background: var(--secondary);
  padding: 10px;
  margin: 2px 0;
}

#main-nav a {
  text-decoration: none;
  color: blanchedalmond;
}

/* Hamburger Menu */
#nav-toggle div {
  width: 35px;
  height: 5px;
  background-color: var(--primary);
  margin: 6px 0;
}
/* Images */
img {
  padding: 1px;
  border-radius: 3.5px;
  align-items: center;
}

#content {
  background: #0753a513;
  width: 95%;
  margin: auto;
  padding: 0px 5px;
  border-radius: 5px;
}

#main-header,
#main-footer {
  background: #0753a513;
  padding: 4px;
}

#main-header {
  border-radius: 4px 4px 0px;
}

#main-footer {
  border-radius: 0 0 4px 4px;
}

.col-one {
  background: #0753a5cb;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 4px;
}

.nestcol1 {
  background: #001e3dcb;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 4px;
}
.container {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.gallery img {
  max-width: 200px;
  max-height: 150px;
  transition: transform 0.3s;
}

.gallery img:hover {
  transform: scale(1.1);
}
/* Typography */
h1,
h2 {
  text-align: center;
}

/* Images */
img {
  padding: 1px;
  border-radius: 3.5px;
  align-items: center;
}

/* Larger Resolutions */
@media (min-width: 900px) {
    #main-nav-items li {
      flex: 1;
    }
  
    #main-nav-items a {
      border-bottom: 2px solid transparent;
    }
  
    #main-nav-items a:hover {
      border-bottom: 2px solid var(--primary);
    }
  
    #nav-toggle {
      display: none;
    }
  
    .columns {
      display: flex;
      flex-wrap: wrap;
    }
  
    .drink {
      flex: 30%;
    }
  }
