/* Structure */
body
{
    background:#0753a5;
}
#content, #main-footer
{
    width: 85%;
    margin:auto;
}
#main-content
{
    background:#0753a5;
    padding: 5px;
    border-radius: 5px;
}

#main-header,
#main-footer
{
    background:#014e9f82;
    padding: 4px;
}

#main-header
{
    border-radius: 4px;
}

#main-footer
{
    border-radius: 4px;
}
.col-one
{
    background:#c7f5e2;
    padding: 5px;
    border-radius: 5px;
    margin: 4px;
}
.user-comment-section 
{
    background: #41fcda31;
    border: 1px solid #0073ff;
    padding: 10px;
    margin-top: 10px;
}

.user-comment-section table 
{
    width: 100%;
}

.user-comment-section table td 
{
    padding: 5px;
}

/* Animation */

#emoji 
{
    background-color: cornflowerblue;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50px;
}

.move-square 
{
    position: relative;
    animation-name: anim-square;
    animation-duration: 666ms;
    animation-iteration-count: 4;
}

@keyframes anim-square 
{
    0% 
    {
        background-color: rgb(0, 51, 145);
        opacity: 1;
        left: 0px;
        top: 0px;
    }
    10% 
    {
        background-color: rgba(0, 51, 145, 0.774);
        opacity: 1;
        right: 25px;
        top: 25px;
    }
    25% 
    {
        background-color: rgba(0, 51, 145, 0.774);
        opacity: 1;
        right: 41px;
        top: 25px;
    }
    50% 
    {
        background-color: rgba(0, 51, 145, 0.539);
        opacity: 1;
        left: 100px;
    }
    75% 
    {
        background-color: rgba(0, 51, 145, 0.256);
        opacity: 1;
        right: 41px;
        top: 25px;
    }
    100% 
    {
        background-color: rgba(0, 51, 145, 0);
        opacity: 1;
        left: 0px;
        top: 0px;
    }
}


/* Typography */
#main-header h1
{
    text-align: center;
}
body 
{
    font-family:Arial, Helvetica, sans-serif;
}
#main-content h2
{
    text-align: center;
}
#txt-comment
{
    height: 24px;
}
#rating
{

}

/* Images */

img 
{
    padding: 1px;
    border: 3.5px solid #ce9e0ebb;
    border-radius: 3.5px;
}

/* Media Query */
@media (min-width: 1280px) 

{
    body
    {
        background:#0753a513;
    }

    .flex-container
    {
        display:flex;
    }
    
    .col-one
    {
        flex: 1;
    }
}