/* Strucutre */
body {
    background: #e6f2ff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Naviagtion */
a{
    text-decoration: none;
    background:#effaef;
    color:black;
    padding: 2px;
    border-radius: 2px;
}

a:hover 
{
    background:#332600bb;
}
/* Images */
img 
{
    border: 3.5px solid #ce9e0ebb;
    border-radius: 3.5px;
}


/* Typography */
h1
{
    color:#001a00;
    font-style: bold;
}
h2
{
    color:  #004d00;
}

/* Tables */
table 
{
border-collapse: collapse;
}

th,
td {
    border: 1px solid #003300;
    padding: 3px;
}
th{
    background: #006e009f;
}
td{
    background: #f3f3f3;
}
