/* Structure */
body 
{
    background:#0753a513;
    background:url(images/Mobile.png);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#content
{
    background:#0753a513;
    width: 77.7%;
    margin:auto;
    padding: 0px 5px;
    border-radius: 5px;
}

#main-header,
#main-footer
{
    background:#0753a513;
    padding: 4px;
   
}

#main-header
{
    border-radius: 4px  4px 0px;
}

#main-footer
{
    border-radius: 0 0 4px 4px;
}



.sidebar
{
    background:#0753a5cb;
    padding: 4px;
    border-radius: 4px;
    margin: 4px;
}

.col-one
{
    background:#0753a5cb;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 4px;
}

.nestcol1
{
    background:#001e3dcb;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 4px;
}

#pictures, .pics
{
    width: 77.7%;
    margin:auto;
    padding: 0px 5px;
    border-radius: 5px;
}

/* Main Navigation */

#main-nav ul
{
    padding-left: 0;
}

#main-nav li
{
    text-align: center;
    list-style-type: none;
    background: rgb(2, 211, 30);
    padding: 4px;
    border-bottom: 1px solid gray;
}

#main-nav a
{
    text-decoration: none;
    color: white;
}

#main-nav a:hover
{
    color: purple;
}

/* Typography */
#main-header h1
{
    text-align: center;
}

body 
{
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

/* Images */
img 
{
    padding: 1px;
    border: 3.5px solid #ce9e0ebb;
    border-radius: 3.5px;
}

/*Larger Resolutions*/
@media (min-width: 1280px) 
{
    body
    {
        background:#0753a513;
        background:url(images/NERV.png);
    }
    #main-nav ul, .flex-container
    {
        display:flex;
    }
    
    #main-nav li, .col-one, .nestcol1
    {
        flex: 1;
    }
    .pics
    {
        flex:auto;
    }
}