/* Structure */
body
{
    background:#aac6e3;
}
#content, #main-footer
{
  
    margin:auto;
}
#main-content
{
    background:#0753a5;
    padding: 5px;
    border-radius: 5px;
}

#main-header,
#main-footer
{
    background:#014e9f82;
    padding: 4px;
}

#main-header
{
    border-radius: 4px;
}

#main-footer
{
    border-radius: 4px;
}
.col-one
{
    background:#c7f5e2;
    padding: 5px;
    border-radius: 5px;
    margin: 4px;
}

.rainbow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .rainbow-strip {
    width: 200px;
    height: 20px;
    margin: 5px;
  }
  
  .pot-of-gold {
    display: none;
    margin-top: 20px;
    font-size: 24px;
  }
/* Typography */

body
{
    font-family: Arial, Helvetica, sans-serif;
}
#main-header h1
{
    text-align: center;
}


/* Media Query */
@media (min-width: 1280px) 

{
    body
    {
        background:#aac6e3;
    }

    .flex-container
    {
        display:flex;
    }
    
    .col-one
    {
        flex: 1;
    }
}
